<div class="h-screen flex flex-column bg-cover" style="background: url('assets/layout/images/pages/login-bg.jpg')">
    <div class=" shadow-2 bg-indigo-500 z-5 p-3 flex justify-content-between flex-row align-items-center">
        <div class="ml-3 flex" routerLink="/">
            
        </div>
        <div class="mr-3 flex">
           
        </div>
    </div>

    <div class="align-self-center mt-auto mb-auto">
        <div class="text-center z-5 flex flex-column border-1 border-round-md surface-border surface-card px-3">
            <div class="-mt-5 text-white bg-cyan-700 border-round-md mx-auto px-3 py-1 border-1 surface-border">
                <h2 class="m-0">Inicio de Sesión</h2>
            </div>

            <h4>Sistema de Firma Electrónica y Gestión Documental</h4>

            <div class="text-color-secondary mb-6 px-6">Por favor, autentíquese para ingresar al sistema</div>
            <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
                <div class="w-full flex flex-column gap-3 px-3 pb-6">
                    <span class="p-input-icon-left">
                        <i class="pi pi-envelope"></i>
                        <input type="text" class="w-full" id="email" name="email" ngModel required pInputText
                            placeholder="E-mail" />
                    </span>

                    <span class="p-input-icon-left">
                        <i class="pi pi-key"></i>
                        <input type="password" class="w-full" id="password" name="password" ngModel required pInputText
                            placeholder="Password" />
                    </span>
                    <button pButton pRipple class="w-full my-3 px-3" label="LOGIN" id="button" type="submit"></button>
                </div>
            </form>
            <div *ngIf="responseMessage" class="response-area">
                {{ responseMessage }}
              </div>
        </div>
    </div>
</div>

<app-config [minimal]="true"></app-config>