<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo usuario" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="usuarios" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['expediente','nombre','correo','rol']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de usuarios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="expediente">Expediente <p-sortIcon field="expediente"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="correo">Email <p-sortIcon field="correo"></p-sortIcon></th>
                        <th pSortableColumn="rol">Rol <p-sortIcon field="rol"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="usuario"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{usuario.id || usuario.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Expediente</span>
                            {{usuario.expediente}}
                        </td>
                        <td style="width:32%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{usuario.nombre}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Correo</span>
                            {{usuario.email}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Rol</span>
                            {{usuario.rol}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUsuario(usuario)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUsuario(usuario)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Nuevo usuario" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="numExpediente">Número de expediente</label>
                    <input type="text" pInputText id="numExpediente" [(ngModel)]="usuario.numExpediente" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !usuario.numExpediente}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !usuario.numExpediente">El expediente es requerido.</small>
                </div>
                <div class="field">
                    <label for="nombre">Nombre</label>
                    <input type="text" pInputText id="nombre" [(ngModel)]="usuario.nombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !usuario.nombre}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !usuario.nombre">Nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="apellidop">Apellido paterno</label>
                    <input type="text" pInputText id="apellidop" [(ngModel)]="usuario.apellidop" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !usuario.apellidop}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !usuario.apellidop">El apellido paterno es requerido.</small>
                </div>
                <div class="field">
                    <label for="apellidom">Apellido materno</label>
                    <input type="text" pInputText id="apellidom" [(ngModel)]="usuario.apellidom" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !usuario.apellidom}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !usuario.apellidom">Name is required.</small>
                </div>
                <div class="field">
                    <label for="email">Correo</label>
                    <input type="text" pInputText id="email" [(ngModel)]="usuario.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !usuario.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !usuario.email">Name is required.</small>
                </div>
                <div class="field">
                    <label for="password">Contraseña</label>
                    <input type="text" pInputText id="password" [(ngModel)]="usuario.password" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !usuario.password}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !usuario.password">Name is required.</small>
                </div>
                <div class="field">
                    <label for="codigoRol">Rol</label>
                    <input type="text" pInputText id="codigoRol" [(ngModel)]="usuario.codigoRol" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !usuario.codigoRol}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !usuario.codigoRol">Name is required.</small>
                </div>

                <div class="field">
                    <label class="mb-3">Estatus</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category1" name="category" value="Accessories" ></p-radioButton>
                            <label for="category1">Activo</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category2" name="category" value="Clothing"></p-radioButton>
                            <label for="category2">Inactivo</label>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Crear" icon="pi pi-check" class="p-button-text" (click)="hideDialog(); createUsuario(usuario)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="usuario">Está seguro de querer eliminar <b>{{usuario.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro de querer eliminar los usuarios seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
