<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo documento" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="documentos" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['tipoDocumento','nombreDocumento','descripcion','tipoArchivo']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedDocumentos" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de documentos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="tipoDocumento">tipoDocumento <p-sortIcon
                                field="tipoDocumento"></p-sortIcon></th>
                        <th pSortableColumn="nombreDocumento">nombreDocumento <p-sortIcon
                                field="nombreDocumento"></p-sortIcon></th>
                        <th pSortableColumn="nomdescripcionbre">descripcion <p-sortIcon
                                field="descripcion"></p-sortIcon></th>
                        <th pSortableColumn="tipoArchivo">tipoArchivo <p-sortIcon field="tipoArchivo"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-documento>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="documento"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{documento.id || documento.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Tipo documento</span>
                            {{documento.tipoDocumento}}
                        </td>
                        <td style="width:32%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{documento.nombreDocumento}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Descripción</span>
                            {{documento.descripcion}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Tipo archivo</span>
                            {{documento.tipoArchivo}}
                        </td>
                        <td>
                            <div class="flex">
                                <a type="button" pButton pRipple icon="pi pi-download"
                                    class="p-button-rounded p-button-primary mr-2"
                                    href="http://localhost:8083/api/documentos/download/{{documento.id}}"></a>
                                <button pButton pRipple icon="pi pi-file-edit"
                                    class="p-button-rounded p-button-primary mr-2"
                                    (click)="openSignDocumento(documento)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editDocumento(documento)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteDocumento(documento)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="signDialog" [style]="{width: '450px'}" header="Firmar" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="certificado" class="font-medium text-900">Llavero PFX</label>
                    <p-fileUpload mode="basic" name="certificado" accept=".pfx" 
                            (onSelect)="onFileSelect($event, 'pfx')" styleClass="p-button-outlined p-button-plain" chooseLabel="Cargar archivo">
                        </p-fileUpload>

                </div>
                <div class="field">
                    <label for="password">Contraseña</label>
                    <input type="password" [(ngModel)]="firma.contrasena" pInputText id="password"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !firma.contrasena">La contraseña es requerida.</small>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Firmar" icon="pi pi-check" class="p-button-text"
                    (click)="hideDialog(); firmarDocumento(firma)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="documentoDialog" [style]="{width: '450px'}" header="Nuevo docummento" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="tipoDocumento">Tipo documento</label>
                    <input type="text" pInputText id="tipoDocumento" [(ngModel)]="documento.tipoDocumento" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !documento.tipoDocumento}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !documento.tipoDocumento">El expediente es
                        requerido.</small>
                </div>
                <div class="field">
                    <label for="nombreDocumento">Nombre</label>
                    <input type="text" pInputText id="nombreDocumento" [(ngModel)]="documento.nombreDocumento" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !documento.nombreDocumento}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !documento.nombreDocumento">Nombre es
                        requerido.</small>
                </div>
                <div class="field">
                    <label for="descripcion">Descripción</label>
                    <input type="text" pInputText id="descripcion" [(ngModel)]="documento.descripcion" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !documento.descripcion}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !documento.descripcion">El apellido paterno
                        es requerido.</small>
                </div>
                <div class="field">
                    <label for="tipoArchivo">Tipo de archivo</label>
                    <input type="text" pInputText id="tipoArchivo" [(ngModel)]="documento.tipoArchivo" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !documento.tipoArchivo}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !documento.tipoArchivo">Name is
                        required.</small>
                </div>
                <div class="field">
                    <label for="rutaDocumento">Ruta</label>
                    <input type="text" pInputText id="rutaDocumento" [(ngModel)]="documento.rutaDocumento" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !documento.rutaDocumento}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !documento.rutaDocumento">Name is
                        required.</small>
                </div>
                <div class="field">
                    <label for="contenido">Contenido</label>
                    <input type="text" pInputText id="contenido" [(ngModel)]="documento.contenido" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !documento.contenido}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !documento.contenido">Name is
                        required.</small>
                </div>
                <div class="field">
                    <label for="pdfFile" class="font-medium text-900">Archivo</label>
                    <p-fileUpload mode="basic" name="pdfFile" accept=".pdf"
                            (onSelect)="onFileSelect($event, 'pdf')" styleClass="p-button-outlined p-button-plain" chooseLabel="Cargar archivo">
                </p-fileUpload>
                </div>
                

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Crear" icon="pi pi-check" class="p-button-text"
                    (click)="hideDialog(); createDocumento(documento)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteDocumentoDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="documento">Está seguro de querer eliminar <b>{{documento.nombreDocumento}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteDocumentoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteDocumentosDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro de querer eliminar los Documento seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteDocumentosDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>